:root {
  --primary: #ce66ff;
  --bg: rgb(248, 219, 202);
}

/*all selector*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", sans-serif;
  background-color: var(--bg);
  color: rgba(3, 3, 3, 0.729);
}

/*navbar*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.976);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 3rem;
  font-weight: 700;
  color: rgb(255, 129, 150);
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  color: #000000;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra a {
  color: #000000;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Media Queries */

/*Hero Section*/
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url("header-bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(248, 219, 202) 8%,
    rgba(248, 183, 145, 0) 55%
  );
}

/*Gradasi hanya dibelakang text*/
.hero-text {
  position: relative;
  color: white;
  padding: 2rem 3rem;
  border-radius: 1rem;
  background: linear-gradient(
    90deg,
    rgba(102, 102, 102, 0.887) 100%,
    rgba(225, 190, 120, 0.3) 100%
  );
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4.2em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(6, 2, 1, 0.8);
  line-height: 1.4;
}

/*mwmisahkan warna pada content*/
.hero .hero-text .h1-logo {
  font-size: 4.2em;
  color: rgb(255, 129, 150);
  text-shadow: 1px 1px 3px rgba(6, 2, 1, 0.8);
  line-height: 1.4;
}

.hero .hero-text .h1-logo span {
  color: var(--primary);
}

/*content barisan kedua*/
.hero .content p {
  font-size: 2rem;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 100;
  text-shadow: 1px 1px 3px rgba(6, 2, 1, 0.8);
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.4rem;
  color: #fff;
  background-color: rgba(255, 115, 222, 0.784);
  border-radius: 0.5 rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

/*about Section*/
.about,
.produk,
.kontak {
  padding: 8rem 7% 1.4rem;
  color: black;
}

.about h2,
.produk h2,
.kontak h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: rgb(255, 34, 226);
}

.about h2 span,
.produk h2 span,
.kontak h2 span {
  color: rgba(50, 63, 247, 0.8);
}

.about .row,
.produk .row,
.kontak .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
}

.about .row .content {
  flex: 1 1 55rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

/* Produk Section */
.produk h2,
.kontak h2 {
  margin-bottom: 0.5rem;
}
.produk p,
.kontak p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.6;
}

.produk .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5rem;
  justify-content: center;
}

.produk .row .produk-card {
  text-align: center;
  padding-bottom: 2rem;
}

.produk .row .produk-card img {
  border-radius: 50%;
  width: 60%;
}

.produk .row .produk-card .produk-card-tittle {
  margin: 1rem auto 0.5rem;
}

/* Kontak Section */
.kontak .row {
  display: flex;
  margin-top: 2rem;
  background-color: #d4bbab;
}

.kontak .row .map {
  flex: 1 1 45rem;
  width: 800%;
  object-fit: cover;
  height: 27rem;
}

.kontak .row form {
  flex: 1 1 45rem;
  padding: 0.5rem 0.5rem;
  text-align: center;
  height: 28rem;
}

.kontak .row .kontak-card {
  text-align: center;
}

.kontak .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  background-color: var(--bg);
  border: 1px solid #eee;
  padding-left: 2rem;
}

.kontak .row form .input-group input {
  width: 100%;
  padding: 2rem;
  font-size: 1.7rem;
  background: none;
}

.kontak .row form .btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: black;
  background-color: #ca906e;
  cursor: pointer;
}

/*Footer*/
footer {
  background-color: #ca906e;
  text-align: center;
  padding: 1rem 0;
  margin-top: 3rem;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover,
footer .links a:hover {
  color: var(--bag);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
  color: #fff;
}

footer .credit a {
  color: black;
  font-weight: bold;
}

/*Media Queries*/
/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

/* Tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }
  .navbar .navbar-nav a {
    color: black;
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .kontak .row {
    flex-wrap: wrap;
  }

  .kontak .row .map {
    height: 30rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

